@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding:0px;
    margin:0px;
    background:#accddd;
}

/*** PAGE INSCRIPTION ***/

.main {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    margin:0 auto;
}

.main h2 {
    background:#319ed3;
    font-family: montserrat;
    font-size:1rem;
    border:0px;
    font-family: montserrat;
    color:#fff;
    padding:15px;
    border-radius:25px;
    z-index:2;
    text-transform: uppercase;
}

form {
    display:flex;
    flex-direction: column;
    background:#fff;
    padding:20px;
    border-radius:25px;
    margin-top:-2rem;
    z-index:1;
}

label {
    font-family: montserrat;
    font-size:1rem;
    font-weight:500;
    margin:10px 0px;
}

input {
    padding:10px;
    border-radius:10px;
    border:1px solid #ccc;
    font-family: montserrat;
}

select {
    background:#fff;
    font-family: montserrat;
    padding:10px;
    border-radius:10px;
    border:1px solid #ccc;
}

option {
    font-family: montserrat;
    font-size:1rem;
}

.send button {
    background:#319ed3;
    font-family: montserrat;
    font-size:1rem;
    border:0px;
    font-family: montserrat;
    color:#fff;
    padding:15px;
    cursor:pointer;
    border-radius:25px;
    font-weight: bold;
    text-transform: uppercase;
}

.check {
    margin:20px 0px;
}

.send {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.send a {
    background:#5e9cba;
    font-family: montserrat;
    font-size:1rem;
    border:0px;
    font-family: montserrat;
    color:#fff;
    padding:15px;
    cursor:pointer;
    border-radius:25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.required, .mail-error, .mdp-error {
    color:red;
    font-family: montserrat;
    font-size:0.8rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    margin:0px 0px 10px 0px;
}

.accept {
    color:red;
    font-family: montserrat;
    font-size:0.7rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    margin:0px 0px 10px 0px;
    background:rgba(255,0,0, 0.4); 
    padding:10px;
    border:1px solid rgba(255,0,0, 0.7); 
    margin:10px 0px;
    border-radius:15px;
}

/*** PAGE CONNEXION ***/ 

.connect {
    margin-top:1.5rem;
}

.connect button {
    background:#319ed3;
    font-family: montserrat;
    font-size:1rem;
    border:0px;
    font-family: montserrat;
    color:#fff;
    padding:15px;
    cursor:pointer;
    border-radius:25px;
    font-weight: bold;
    text-transform: uppercase;
}

.connect a {
    background:#5e9cba;
    font-family: montserrat;
    font-size:1rem;
    border:0px;
    font-family: montserrat;
    color:#fff;
    padding:15px;
    cursor:pointer;
    border-radius:25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

/*** PAGE CONFIRMATION ***/ 

.co {
    background:#5e9cba;
    font-family: montserrat;
    font-size:1rem;
    border:0px;
    font-family: montserrat;
    color:#fff;
    padding:15px;
    cursor:pointer;
    border-radius:25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

form p {
    font-family: montserrat;
    font-size:1rem;
    color:#000;
}


/*** PAGE PROFIL ****/ 

.profile {
    background:#fff;
    padding:15px;
    border-radius:25px;
    margin:0 auto;
    width:50%;
    margin-top:2rem;
    margin-bottom:2rem;
}

.profile-top {
    display:flex;
    flex-direction:row ;
    justify-content: space-around;
}

.profile-top img {
    width:180px;
    height:180px;
    border-radius: 100%;
}

.info {
    display:flex;
    flex-direction: column;
}

.info button {
    font-family: montserrat;
    font-size: 0.9rem;
    border:0px;
    text-transform: uppercase;
    border-radius:20px;
    color:#000;
    padding:10px;
    cursor:pointer;
}

/***NOM ET BOUTONS***/
.profile-name {
    padding:15px 0px;
}

/***PSEUDO***/ 
.profile-name span {
    font-family: montserrat;
    font-size:1.3rem;
    color:#000;
    font-weight:600;
}

.profile-name button {
    font-family: montserrat;
    font-size: 0.9rem;
    border:0px;
    text-transform: uppercase;
    border-radius:20px;
    color:#000;
    padding:10px;
    cursor:pointer;
}

/***FOLLOWERS & FOLLOWINGS***/
.profile-stat {
    display: flex;
    flex-direction: row;
    gap:2rem;
}

.profile-stat p {
    font-family: montserrat;
    font-size:1rem;
    color:#000;
    font-weight:500;
}

.profile-post {}

.post-row {
    display:flex;
    flex-direction: row;
    gap:0.8rem;
    margin-top:1rem;
}

.post-img {
    width:260px;
    height:260px;
}